---
import { Icon } from "astro-icon/components";

export interface Props {
  href: string;
  icon: string;
  label: string;
  value: string;
  target?: string;
  rel?: string;
}

const { href, icon, label, value, target, rel } = Astro.props;
---

<a
  {href}
  {target}
  {rel}
  class="group bg-neutral-50 border border-neutral-200 hover:border-petrol-200 rounded-xl p-8 text-center transition-all duration-300 shadow-sm hover:shadow-md"
>
  <div
    class="size-12 mx-auto mb-4 rounded-full bg-petrol-50 flex items-center justify-center"
  >
    <Icon is:inline name={icon} class="size-5 text-petrol-500" />
  </div>
  <p class="text-xs text-neutral-500 uppercase tracking-wider mb-2">
    {label}
  </p>
  <p
    class="text-neutral-900 group-hover:text-petrol-500 font-medium transition-colors"
  >
    {value}
  </p>
  <slot />
</a>
